language: python

python:
  - "2.7"

before_install:
  - openssl aes-256-cbc -K $encrypted_3091c6ae5bf7_key -iv $encrypted_3091c6ae5bf7_iv
    -in id_rsa.pub.enc -out ~\/.ssh/id_rsa.pub -d
  - chmod 400 ~./ssh/id_rsa

install:
  - pip install ansible

jobs:
  include:
    - stage: deploy
      script: ansible-playbook -i ansible/inventory.yml ansible/playbook.yml --user $ANSIBLE_USER --private-key ~./ssh/id_rsa
