<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html>
<body>

<form action="/items/" method="POST">
<label for="item">Item:</label></br>
<input type="text" id="item" name="item" /></br>

<label for="price">Price:</label></br>
<input type="text" id="price" name="price" /></br>
<input type="submit" value="Submit" />
</label>
</form>

</body>
</html>